body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    box-sizing: border-box;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cep-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.cep-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.cep-container button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 8px;
    height: 40px;
    min-width: 80px;
    margin-top: 0;
}

.cep-container button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos para o popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 5px;
        position: relative;
    }
    
    .close-button {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }


.iframe-container {
    width: 100%;
    height: calc(100% - 50px); /* Espaço menor para o título e botão de fechamento */
    overflow: hidden;
    border-radius: 8px; /* Adiciona cantos arredondados */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sutil efeito interno */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos para o checkbox e texto */
.termos-uso {
    display: flex; /* Adiciona flexbox */
    align-items: center; /* Alinha verticalmente */
    margin-top: 25px; /* Aumenta a margem acima da linha */
    margin-bottom: 15px;
}

.termos-uso input[type="checkbox"] {
    margin-right: 5px; /* Espaço entre o checkbox e o texto */
    margin-top: 0; /* Remove qualquer margem superior */
}

.termos-uso .termos-label {
    font-weight: normal; /* Remove o negrito do label */
    margin-bottom: 0; /* Remove qualquer margem inferior */
}